export(ams.pp.getRegions.MeanFilter)
export(ams.pp.buildModelMatrix) 
export(ams.pp.getRegions.MeanFilter)
export(ams.pp.listPeaks)
export(ams.pp.pl.slidingMax)
export(ams.pp.runHierarchical)
export(ams.pp.runSingleRegression)
export(ams.pp.pl.slidingMaxAdjusted)
export(ams.pp.strap.lars)
#export(helpers)
export(runPostProcReFit)
export(postProc)
export(compareSwissprot)
export(predict.ams.pp.strap.model)
export(nnls.fit)
