export(ams.pp.getRegions.MeanFilter)
export(ams.pp.buildModelMatrix) 
export(ams.pp.getRegions.MeanFilter)
export(ams.pp.listPeaks)
export(ams.pp.pl.slidingMax)
export(ams.pp.runHierarchical)
export(ams.pp.runSingleRegression)
export(ams.pp.pl.slidingMaxAdjusted)
export(ams.pp.strap.lars)
export(exactAveragine)
export(lightAveragine)
export(sulveragine)
export(getDistributionHBin)
export(fftDiscrete)
export(buildAveragineModelShort)
export(findMaxPeakAndPosition)
export(findMaxPeakAndPositionUns)
export(joinAdjacent)
export(runPostProcReFit)
export(postProc)
export(compareSwissprot)
export(predict.ams.pp.strap.model)
export(nnls.fit)
