export(coef.lars)
export(cv.folds)
export(cv.lars)
export(downdateR)
export(error.bars)
export(lars)
export(nnls.lars)
export(plotCVLars)
export(plot.lars)
export(predict.lars)
export(print.lars)
export(updateR)
export(backsolvet)
export(delcol)